{{ define "main" }}

<h1>Welcome to the realm</h1>

<div class="about-section">
    <img src="/jonasanime.png" alt="Your Picture" class="profile-pic">
    <p>
        I'm a crypto advocate working to grow.
        <strong>The new era of the internet is governed by the users, empowering them to be active stakeholders in the future of the internet.</strong>  I want to work on cool stuff that is important, hopefully bringing the world closer to an open, decentralized internet.   
        <a href="about/">(more)</a>
    </p>
</div>
<br/>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Check these out</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}