{{ define "main" }}

<h1>Welcome to the realm</h1>

<div class="about-section">
    <img src="/jonasanime.png" alt="Your Picture" class="profile-pic">
    <p>
        I’m Jonas Jahnsson - a growth marketer focused on fueling the growth of open source software and public goods. Enabling buidlers succeed is what gets me up in the morning. 
        My mission? To work on meaningful, exciting projects that push us closer to an open, decentralized internet — and make it accessible to everyone.   
        <br>
    </p>
</div>
<br/>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Check these out</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}